.vscode
.venv
.env
logs
data
results
nbs
*.profile
*.out
*.prof
*.egg-info
*.DS_Store
*__pycache__
*.parquet
vix.pkl
.cache

# Rust artifacts

# Cargo / Rust
options_engine/target/
options_engine/Cargo.lock